* {
    background-color: black;
    color: white;
}

button
{
    margin-bottom: 5px;
}

.container
{
    width: 704px;
    max-height: 704px;
    display: flex;
    flex-wrap: wrap;
}

.white-box
{
    width: 44px;
    height: 44px;
    border: 1px solid white;
    box-sizing: border-box;
}

.bg-blue
{
    background-color: blue;
}